body{
    background-color: #1a242e;
}
.btn{
    margin-left: 7px;   
}

#adCarousel{
    padding-top: 50px;
    
}
.carousel-control-prev,
.carousel-control-next{
    
      bottom: 25%;
}

.dropdown-menu {
    font-family: 'open sans';
    padding-bottom: 10px;
   
}
.d-flex{
   padding-right: 50px;
   padding-top: 5px;
 
}
.form-control{
    font-family: 'open sans';
   font-size:x-large;
    background-color: #1a242e;

}
h2{
    padding-top: 150px;
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
    padding-left: 60px;
    padding-top: 40px;
}
h5{
    display: inline;
    margin:10px;
}
#moviecarousel{
    padding: 50px;
    padding-top: 10px;
}
.navbar{
    padding-bottom: 0px;
    padding-left: 5px;
    margin-left: 0px;
    font-family: 'Open sans';
    font-size: x-large;
   
}
p{
    color: white;
}
#recommendedcarousel{
    padding: 50px;
    padding-top: 10px;
}
